:root {
  /* 主题色 */
  --primary-color: #ff2442;
  --primary-color-dark: #b31f35;
  --primary-color-shadow: rgba(254, 40, 67, 0.3);
  /* 文本颜色 */
  --text-color-primary: #333;
  --text-color-secondary: #5c5c5c;
  --text-color-tertiary: #858585;
  --text-color-quaternary: #bbbbbb;
  --text-color-inverse: #fff;
  --text-color-tag: #13386c;
  /* 背景颜色 */
  --bg-color-primary: #fff;
  --bg-color-secondary: #f7f7f7;
  --bg-color-tertiary: #e8e4e4;
  --bg-color-inverse: #474747;
  /* 边框颜色 */
  --border-color-primary: #ebebeb;
  --border-color-secondary: #eee;

  /* 禁用状态颜色 */
  --disabled-bg: #ccc;
  --disabled-text: #ffffff;

  /* 阴影颜色 */
  --shadow-color: rgba(0, 0, 0, 0.08);
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* 通用遮罩背景（半透明） */
  --overlay-bg: rgba(18, 18, 18, 0.5);

  /* 按钮文字颜色 */
  --button-text-color: #fff;

  /* 危险颜色 */
  --danger-color: #ff0c30;
  --danger-color-dark: rgb(201, 9, 37);
}

/* 深色主题 */
[data-theme="dark"] {
  /* 主题色 */
  --primary-color: #ff2442;
  --primary-color-dark: #b31f35;
  --primary-color-shadow: rgba(254, 40, 67, 0.3);

  /* 文本颜色 */
  --text-color-primary: #e0e0e0;
  --text-color-secondary: #b0b0b0;
  --text-color-tertiary: #909090;
  --text-color-quaternary: #707070;
  --text-color-inverse: #0a0a0a;
  --text-color-tag: #c7daef;

  /* 背景颜色 */
  --bg-color-primary: #121212;
  --bg-color-secondary: #1e1e1e;
  --bg-color-tertiary: #2a2a2a;
  --bg-color-inverse: #e7e7e7;

  /* 边框颜色 */
  --border-color-primary: #242424;
  --border-color-secondary: #252525;

  /* 禁用状态颜色 */
  --disabled-bg: #ccc;
  --disabled-text: #ffffff;

  /* 阴影颜色 */
  --shadow-color: rgba(0, 0, 0, 0.3);

  /* 通用遮罩背景（半透明） */
  --overlay-bg: rgba(27, 27, 27, 0.6);

  /* 按钮文字颜色 */
  --button-text-color: #fff;

  /* 危险颜色 */
  --danger-color: #ff0c30;
  --danger-color-dark: rgb(201, 9, 37);
}